
#big-content-main{
    height: calc(100vh - 70px);
}

#menu-laterale{
    background-color: yellowgreen;
    height: 100%;
    overflow: hidden;
}

#content-container{
    overflow: auto;
    height: calc(100vh - 70px);
}
.top-main{
    background-color: fuchsia;
}
#content-main{
    background-color: orange;
    overflow-y: scroll;
    
}




#t-menu-icons,
#b-menu-icons{
    padding: .625rem 1.5625rem .625rem 1.5625rem;
}