
#big-content-main{
    height: calc(100vh - 70px);
}

#menu-laterale{
    background-color: yellowgreen;
    height: calc(100vh - 70px);
    overflow: hidden;
}

#content-container{
    overflow-y: scroll;
    height: calc(100vh - 70px);
    margin: 0;
}

/*
+++++++++++++++
menu laterale
+++++++++++++++
*/
#menu-laterale span{
    display: none;
}


@media screen and (min-width:992px){
    #menu-laterale span{
        display: inline-block;
    }
}

/*
+++++++++++++++
top main
+++++++++++++++
*/
.top-main{
    background-color: fuchsia;
}

/*
+++++++++++++++
top main
+++++++++++++++
*/


#t-menu-icons,
#b-menu-icons{
    padding: .625rem 1.5625rem .625rem 1.5625rem;
}

.colonna1{
    background-color: slateblue;
}
.colonna2{
    background-color: green;
}



