
main{
    height: calc(100vh - 70px);
}

#menu-laterale{
    background-image: url("../img/sidebar-bg.png");
    background-color: var(--menu-laterale);
    color: white;
}

#content-container{
    overflow-y: scroll;
    height: calc(100vh - 70px);
    margin: 0;
}

/*
+++++++++++++++
menu laterale
+++++++++++++++
*/
#menu-laterale li{
    padding-bottom: .9375rem;
}

#menu-laterale i{
    font-size: 22px;
}

#menu-laterale span{
    display: none;
}


@media screen and (min-width:992px){
    #menu-laterale span{
        display: inline-block;
    }
   
    #menu-laterale i{
        padding-right: .9375rem;
    }
}

/*
+++++++++++++++
top main
+++++++++++++++
*/
.top-main{
    background-color: fuchsia;
}

/*
+++++++++++++++
top main
+++++++++++++++
*/


#t-menu-icons,
#b-menu-icons{
    padding: .625rem 1.5625rem .625rem 1.5625rem;
}

.colonna1{
    background-color: slateblue;
}
.colonna2{
    background-color: green;
}



